---
layout: home
---
<header class="intro">
	<h1>
		<span class="group-01">RISD <br>seeks a<br> creative<br> director</span>
	</h1>
	<span class="logo left">
		{% include risd-seal.svg  %}
	</span>
	<span class="logo right">
		{% include risd-seal.svg  %}
	</span>
</header>

<section class="description">
	<h2 class="description__title">Help Wanted</h2>
	<div class="description-text-container">
		<p>RISD seeks an innovative, highly-collaborative Creative Director to develop and champion the college’s visual identity and lead a cross-disciplinary team of nine in producing outstanding creative work. Strong expertise is needed in bringing design, editorial content and imagery together to create distinctive brand experiences that make a real impact on diverse audiences (including prospective and current students and their parents, faculty, alumni, donors, industry leaders, and the general public) across traditional and emerging media channels.</p>
		<p>Internationally recognized for its immersive model of art and design education, RISD emphasizes conceptually driven studio-based learning and robust liberal arts studies. It upholds the belief that art and design are essential to human progress, well-being and the innovation needed to transform life in the 21st century and is committed to playing a key role in promoting an inclusive, forward-thinking society. As an active and engaged member of the RISD community, the Creative Director will champion this spirit of creative experimentation and progressive thinking to audiences around the globe. The position offers an exciting opportunity for a dynamic creative professional to lead the visual expression of a vibrant community of thinkers and makers.</p>
		<p>Reporting to the Chief Marketing & Communications Officer, who leads RISD’s Media Group, the Creative Director will bring both strategic vision and inventive problem solving to leading the creative process from concept to completion. With input from RISD’s President, academic leaders and other community stakeholders, the Creative Director will lead a cross-disciplinary team with expertise in writing, design and photography in developing forward-thinking creative strategies and communications solutions that advance institutional priorities. This includes elevating key initiatives with the highest impact on the RISD brand, student and faculty recruitment, fundraising and other institutional goals.</p>
		<p>As RISD evolves, its Media Group is thinking broadly about how it can best tell the college’s stories in new, engaging ways. While historically the group has been focused on awareness and promotions, there is a strong desire to create more dynamic engagement throughout the RISD community, especially via new technology and digital media platforms, while retaining the authenticity of materials-based experiential practice for which RISD is known. The Creative Director will serve as a strategic leader in this work, understanding how audiences are embracing new media and how different key audiences—from new generations of students and alumni to faculty and industry leaders—“encounter” the RISD brand.</p>
		<p>An initial priority for the Creative Director will be leading the creation and evolution of RISD brand guidelines to help deliver more intentional, consistent and distinctive experiences. The Creative Director will also work to strengthen the team’s workflow to better balance emerging projects and opportunities with cyclical responsibilities.</p>
		<p>The ideal candidate is expected to have at least seven years of experience and a proven record of outstanding design practice.  Previous experience working in a complex organization is highly desired, as is the maturity and acumen to successfully navigate and collaborate within such environments. While direct experience working in higher education, museums or arts institutions is not required, a familiarity with and appreciation for RISD’s mission and ethos will be essential for success. Outstanding organizational and interpersonal skills are necessary, as are a belief in the value of teamwork, initiative and curiosity. A sophisticated visual sensibility as well as verbal and written communication skills are required and the ability to interact with all types of individuals is essential. A bachelor’s degree is required; an advanced degree is preferred.</p>
	</div>
</section>

<section class="description">
	<h2 class="description__title">Recent Work</h2>
	<div class="gallery-of-work">

		<figure class="gallery-image" >
			<img  src="assets/img/risd-weekend/risd-weekend-logo.gif" data-title="RISD Weeknd Logo" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/admissions/admissions-poster.jpg" data-title="Admissions Undergraduate Poster" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image" >
			<img src="assets/img/risd-craft/risd-craft-composite.jpg" data-title="RISD Craft" alt="">
			{% include gallery-controls.html  %}
		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/admissions/working.jpg" data-title="Working" alt="">
			{% include gallery-controls.html  %}
		</figure>
		<figure class="gallery-image">
			<img  src="assets/img/inauguration/inauguration.jpg" data-title="Rosanne Somerson Inauguration" alt="">
			{% include gallery-controls.html  %}
		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/edu/risd-edu.gif" data-title="RISD Edu" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/admissions/picture-risd-02.jpg" data-title="Picture RISD" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/risd-weekend/risd-weekend-posters.gif" data-title="RISD Weekend Posters" alt="">
			{% include gallery-controls.html  %}
		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/welcome-site/welcome-site.gif" data-title="Welcome Site" alt="">
			{% include gallery-controls.html  %}
		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/nature-lab/nature-lab.gif" data-title="Nature Lab" alt="">
			{% include gallery-controls.html  %}
		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/holiday-card/holiday-card-14.jpg" data-title="Holiday Card" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/admissions/viewbook.jpg" data-title="RISD Viewbook 2017" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/collection/collection-15-program.jpg"  data-title="Collection 15 Program" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/collection/collection-17-poster.gif" data-title="Collection 17 Poster" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image" id="test">
			<img  src="assets/img/presidential-collateral/presidents-collateral.jpg" data-title="RISD Presidential Collateral" alt="">
			{% include gallery-controls.html  %}

		</figure>

		{% comment %}<video class="gallery-video" src="assets/img/commencement/commencement-02.mp4" autoplay loop></video>{% endcomment %}
		{% comment %}<video class="gallery-video" src="assets/img/nature-lab/nature-lab.mp4"  autoplay loop></video>{% endcomment %}
	</div>
</section>

<section class="description">
	<h2 class="description__title">Essential Functions / Duties</h2>
	<div class="description-text-container">
		<ol>
			<li data-counter>
				<p>Develop and champion RISD’s visual and editorial voice to deliver intentional, consistent and distinctive experiences.</p>
				<ul>
					<li>Lead the creation and evolution of RISD brand guidelines, directives and identity systems. Communicate with and gain investment from campus partners to ensure that these are embraced and adhered to across projects and platforms.</li>
					<li>Elevate key initiatives with the highest impact on RISD’s brand, recruitment, fundraising and other institutional goals.</li>
					<li>Keep abreast of current and emerging industry trends, evaluating if and how they might be appropriate for RISD and implementing accordingly.</li>
				</ul>
			</li>
			<li data-counter>
				<p>Cultivate strong and productive relationships with campus colleagues, as well as with external vendors and partners.</p>
				<ul>
					<li>With input from RISD’s President, academic leaders, and other community stakeholders, develop the creative strategies and communications solutions that advance institutional priorities.</li>
				</ul>
			</li>
			<li data-counter>
				<p>Lead a cross-functional team of creative professionals — whose responsibilities include graphic design, content planning/writing/editing, photography and production coordination — in conceiving and executing marketing messages, concepts and assets to achieve project objectives.</p>
				<ul>
					<li>Hire, train and manage the creative team, providing members with direction, coaching and professional development opportunities. Inspire both team and individual performance, develop talent and foster an inclusive environment.</li>
					<li>Manage the creative process from concept to completion, communicate effectively with campus partners and ensure that high-quality work is completed on time and on budget.</li>
					<li>Prioritize projects based on strategic insight and information from the Chief Marketing & Communication Officer and key institutional goals and allocate resources accordingly.</li>
					<li>Determine, recommend and implement the systems and structures needed for the creative team to operate most efficiently and effectively. Implement and/or modify technology, tools and processes accordingly.</li>
				</ul>
			</li>
		</ol>
	</div>
</section>

<section class="description">
	<h2 class="description__title">Qualifications</h2>
	<div class="description-text-container">
		<ul>
			<li>Bachelor’s degree required, MFA or MA preferred.</li>
			<li>At least seven years of increasingly challenging related work experience </li>
			<li>Strong leadership abilities. Prior experience managing and mentoring creative professionals required; experience leading cross-functional teams strongly preferred.</li>
			<li>A strong record of outstanding design practice and a sophisticated visual sensibility.</li>
			<li>An understanding of visual systems, proficiency with design software and knowledge of design history. </li>
			<li>Demonstrated ability to successfully translate complex ideas into compelling print materials and digital experiences for visually sophisticated audiences. </li>
			<li>Proven ability to create a connection with and foster engagement from diverse audiences.  </li>
			<li>A strategic and innovative thinker and creative problem solver</li>
			<li>Stellar communication, presentation, problem-solving and project-management skills</li>
			<li>Demonstrated success managing the creative process and proven ability to provide art direction on small-and large-scale projects from creative conception to completion.</li>
			<li>Excellent interpersonal skills and proven ability to cultivate and maintain strong relationships. </li>
			<li>Demonstrated ability to inspire and motivate others; able to give and receive constructive feedback.</li>
			<li>Interest in art, design and higher education.</li>
			<li>An understanding of RISD’s culture, identity and community appreciated.</li>
		</ul>
	</div>
</section>

<section>
	<button class="apply"><a href="http://talentcitizen.com/active-searches/risd-cd/" target="_blank">Apply</a></button>
</section>

<section class="modal">
</section>
