---
layout: home
---
<header class="intro">
	<h1>
		<span class="group-01">RISD <br>seeks a<br> senior visual<br> designer</span>
	</h1>
	<span class="logo left">
		{% include risd-seal.svg  %}
	</span>
	<span class="logo right">
		{% include risd-seal.svg  %}
	</span>
</header>

<section class="description">
	<h2 class="description__title">Help Wanted</h2>
	<div class="description-text-container">
		<p>RISD seeks a highly-skilled Senior Visual Designer to join its team of writers, designers, marketers, and software developers as they articulate, steward, and amplify the RISD brand. The Senior Visual Designer is multidisciplinary, using graphic design, animation, software development (preferred but not required), and prototyping skills to tell RISD’s story to engage and inform diverse audiences, including prospective and current students, donors, faculty members, alumni, and the general public. 
		Working under the guidance of the Design Lead, the Senior Visual Designer will collaborate with campus partners and Media Group team members to produce creative experiences and materials such as brand identity systems, publication design, social media content, video, and digital products to successfully achieve RISD’s marketing objectives. This individual is able to lead projects independently or step into a larger campaign mid-stream, orient themselves quickly, and build on the work of others expanding RISD’s reach and expression.</p>
		<p>RISD provides innovative leadership in art and design education and an ongoing commitment to creative experimentation and risk-taking. This progressive, inquisitive attitude permeates RISD’s campus culture, supporting undergraduate and graduate students, faculty, curators, administrators, and support staff who form our community. RISD’s students are diverse, coming from a wide range of geographic, socioeconomic, and cultural backgrounds. The college strives to cultivate a culturally competent campus environment that advances principles of social equity and inclusion, environmental and climate justice, and equal access to resources and opportunities.</p>
	</div>
</section>

<section class="description">
	<h2 class="description__title">Recent Work</h2>
	<div class="gallery-of-work">

		<figure class="gallery-image" >
			<img  src="assets/img/risd-weekend/risd-weekend-logo.gif" data-title="RISD Weeknd Logo" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/admissions/admissions-poster.jpg" data-title="Admissions Undergraduate Poster" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image" >
			<img src="assets/img/risd-craft/risd-craft-composite.jpg" data-title="RISD Craft" alt="">
			{% include gallery-controls.html  %}
		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/admissions/working.jpg" data-title="Working" alt="">
			{% include gallery-controls.html  %}
		</figure>
		<figure class="gallery-image">
			<img  src="assets/img/inauguration/inauguration.jpg" data-title="Rosanne Somerson Inauguration" alt="">
			{% include gallery-controls.html  %}
		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/edu/risd-edu.gif" data-title="RISD Edu" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/admissions/picture-risd-02.jpg" data-title="Picture RISD" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/risd-weekend/risd-weekend-posters.gif" data-title="RISD Weekend Posters" alt="">
			{% include gallery-controls.html  %}
		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/welcome-site/welcome-site.gif" data-title="Welcome Site" alt="">
			{% include gallery-controls.html  %}
		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/nature-lab/nature-lab.gif" data-title="Nature Lab" alt="">
			{% include gallery-controls.html  %}
		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/holiday-card/holiday-card-14.jpg" data-title="Holiday Card" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/admissions/viewbook.jpg" data-title="RISD Viewbook 2017" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/collection/collection-15-program.jpg"  data-title="Collection 15 Program" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image">
			<img  src="assets/img/collection/collection-17-poster.gif" data-title="Collection 17 Poster" alt="">
			{% include gallery-controls.html  %}

		</figure>

		<figure class="gallery-image" id="test">
			<img  src="assets/img/presidential-collateral/presidents-collateral.jpg" data-title="RISD Presidential Collateral" alt="">
			{% include gallery-controls.html  %}

		</figure>

		{% comment %}<video class="gallery-video" src="assets/img/commencement/commencement-02.mp4" autoplay loop></video>{% endcomment %}
		{% comment %}<video class="gallery-video" src="assets/img/nature-lab/nature-lab.mp4"  autoplay loop></video>{% endcomment %}
	</div>
</section>

<section class="description">
	<h2 class="description__title">Essential Functions / Duties</h2>
	<div class="description-text-container">
		<ul>
			<li>Support the Design Lead in the creation of campaigns and marketing initiatives that best represent RISD’s brand and convey images, messages, quality, and tone most appropriate for the College. Actively engage and partner with writers, designers, marketers, developers, and other teammates to brainstorm new ideas and design results-generating deliverables across all of the college’s channels.  Execute and/or manage corresponding production tasks.</li>
			<li>Leverage visual design skills to create exceptional digital experiences (microsites, landing pages, social and email campaigns, online advertising, and more) that engage target audiences and bring RISD’s brand positioning to life. Follow best practices for designs for all types of interfaces, such as mobile, tablet, and desktop.</li>
			<li>Prototype experiences and concepts to demonstrate how proposed campaigns can come to life (ex: motion-studies, click-through prototypes, mockups) and give stakeholders and the internal RISD Media team the ability to properly evaluate the viability of creative/design directions.</li>
			<li>Build positive relationships with institutional stakeholders, presenting creative work to them, and seeking and successfully incorporating their ideas and feedback to help achieve RISD’s marketing objectives.</li>
			<li>Stay current with recent trends and advancements in graphic design, digital marketing, and related fields, evaluating and recommending if and how these trends would be appropriate for RISD.  Identify, evaluate, recommend and implement as approved new/innovative ways design can help achieve RISD’s goals.</li>
		</ul>
	</div>
</section>

<section class="description">
	<h2 class="description__title">Qualifications</h2>
	<div class="description-text-container">
		<ul>
			<li>Bachelor’s degree in graphic design or equivalent combination of education and experience.</li>
			<li>5+ years of increasingly challenging design experience.</li>
			<li>Solid working knowledge of Adobe Creative Suite software and prototyping tools like Figma, Sketch, and Invision.</li>
			<li>Experience coding HTML and CSS and familiarity with JavaScript a plus.</li>
			<li>A clear understanding of visual systems, robust typographic skills, and an enthusiasm for creating visual narratives. Demonstrated ability to successfully translate complex ideas into compelling, intuitive visuals for a highly visual community.</li>
			<li>Ability to work across a range of projects including identity design, print collateral, publication design, and online experiences.</li>
			<li>Ability to organize workflow and prioritize projects.</li>
			<li>Strong presentation and collaboration capabilities. Able to guide stakeholders through the entire creative process and balance client needs with the goals of the larger institution.</li>
			<li>Strong research capabilities. Ability to glean insights from user research and other qualitative and quantitative inputs and iterate accordingly.</li>
			<li>Demonstrated experience working and communicating inclusively and effectively within a broadly diverse community of faculty, staff, and students.</li>
			<li>A sense of curiosity about a wide range of media vehicles and a desire to figure out how they work best together.</li>
		</ul>
	</div>
</section>

<section>
	<button class="apply"><a href="https://risd.wd5.myworkdayjobs.com/en-US/RISD/job/Providence/Senior-Visual-Designer_R-00621-1" target="_blank">Apply</a></button>
</section>

<section class="modal">
</section>
