<span class="icon icon-scale-up">
   <?xml version="1.0" encoding="UTF-8"?>
<svg width="33px" height="33px" viewBox="0 0 33 33" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 43.2 (39069) - http://www.bohemiancoding.com/sketch -->
    <title>Icons / Interface / scale up</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <path d="M16.2471,11.206 L21.8691,5.659 L16.4721,0.186 L32.2131,0.186 L32.2131,15.928 L26.7411,10.531 L21.1941,16.153 L16.2471,11.206 Z M16.2471,21.1 L10.5501,26.797 L16.0221,32.193 L0.2061,32.193 L0.2061,16.377 L5.6031,21.85 L11.3001,16.153 L16.2471,21.1 Z" id="path-1"></path>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop" transform="translate(-106.000000, -1117.000000)">
            <g id="Icons-/-Interface-/-scale-up" transform="translate(106.000000, 1117.000000)">
                <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                </mask>
                <use id="Fill-134" fill="#000000" fill-rule="evenodd" xlink:href="#path-1"></use>
                <g id="States-/-base" mask="url(#mask-2)" fill-rule="evenodd" fill="#000000">
                    <rect id="Rectangle" x="0" y="0" width="33" height="33"></rect>
                </g>
            </g>
        </g>
    </g>
</svg>
</span>